@import '_fonts';
@import '_vars';
@import '_global';

// start header

.header {
  &__top {
    background-color: $header_bg;
  }
  &__top-inner {
  display: flex;
  justify-content: space-between;
  height: 100px;
  align-items: center;
  }
  &__logo {
  margin-left: 7px;
  }
  &__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -3px;
  }

  &__btn {
    padding: 12px 18px;  
    border-radius: 18px;
    background-color: $blue;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
  }

  &__btn:hover {
    background-color: transparent;
    color: $blue;
    border: 1px solid $blue;
  }

  &__icons {
    margin-left: 48px;
    margin-right: 13px;
  }
  
  &__quantity {
    font-size: 14px;
    @include f500;
    color: #fff;
    padding: 4px 6px;
    border-radius: 13px;
    position: absolute; 
  }

  &__icon {
    margin-right: 10px;
    &--ring {
      margin-right: 25px;
      position: relative;
      .header__quantity {
        background-color: #ff6a6c;
        left: 8px;
        top: -20px;
      }
      &::before {
        content: '\e858';
        font-family: 'Linearicons-Free';
        font-size: 20px;
        color: #7e8fa1;
      }
    }  
    &--mail {
      margin-right: 31px;
      position: relative;
      .header__quantity {
        background-color: #62d03b;
        left: 16px;
        top: -20px;
      } 
      &::before {
        content: '\e818';
        font-family: 'Linearicons-Free';
        font-size: 20px;
        color: #7e8fa1;
      }
    }  
    &--basket {
      position: relative;
      .header__quantity {
        background-color: #0674ec;
        left: 15px;
        top: -20px;
      } 
      &::before {
        content: '\e82e';
        font-family: 'Linearicons-Free';
        font-size: 20px;
        color: #7e8fa1;
      }
    }  
  }
  &__user {
    display: flex;
    justify-content: space-between;
    line-height: 22px;
  }
  &__menu {
    background-color: #fff;
  }
}

.button {
  color: #fff;
  text-align: center;
}

.user {
  &__info {
    margin-top: 2px;
  }
  &__avatar {
    width: 50px;
    height: 50px;
    margin-left: 25px;
    margin-right: 20px;
  }
  &__name {
    font-size: 16px;
    @include f500;
    color: #333333;
  }
  &__balance {
    font-size: 15px;
    color: $blue;
    display: block;
  }
}

.menu {
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
  }
  &__top {
    display: flex;
    margin-top: -4px;
  }
  &__list,
  &__item {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  &__item {
    display: inline-block;
    text-transform: uppercase;
  }         
  &__link {
    color: #333;
    @include f500;
    font-size: 15px;
    transform-origin: .3s;
  }
  
  &__link:hover {
    color: $blue;
  }

  &__list &__item + &__item {
    margin-left: 30px;
  }
  &__search {
    max-width: 360px;
    margin-right: 0;
    position: relative;
  }
  &__search-product {
    display: block;
    width: 100%;
    border-radius: 23px;
    height: 46px;
    border: 1px solid #d9dfe5;
    font-size: 15px;
    padding-left: 24px;
    padding-right: 80px;
    margin-right: 99px;
    margin-bottom: 3px;
    outline-color: transparent;
      &::placeholder {
        color: #898f96;
      }
  }
  &__search-btn {
    position: absolute;
    border: none;
    padding: 14px 27px 13px;
    width: 70px;
    height: 46px;
    background-color: $blue;
    border-radius: 23px;
    right: -1px;
    top: 0px;
    outline-color: transparent;
    cursor: pointer;
  }
  &__search-btn::before {
    content: '\e86f';
    font-family: 'Linearicons-Free';
    font-size: 15px;
    color: #fff;
    position: absolute;
    top: 15px;
    left: 29px;
  }
}


// end header
// start search

.search {
  background-color: #2b2b2b;
  min-height: 726px;
  background-image: -webkit-gradient(linear, right top, left bottom, from(#0030de), color-stop(54%, #1745ed), to(#2e5afb));
  &__inner {
    text-align: center;
  }  
  &__inner-title {
      padding-top: 169px;
      font-size: 60px;
      line-height: 70px;
      color: #f3f3f8;
      margin-bottom: 35px;
      text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
  }  
  &__inner-subtitle {
      @include f700;
      display: inline-block;
      padding-top: 1px;
      text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
    }
  &__inner-text {
      font-size: 20px;
      @include f500;
      margin-bottom: 88px;
      letter-spacing: 0.1px;
  }
  &__inner-btn {
    text-align: center;
    margin-bottom: 185px;
    .button__link {
      margin: 0 15px;
      box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.1);
      border: 1px solid #fff;
      background-color: transparent;
      color: #fff;
      font-size: 16px;
      padding: 16px 30px;
      border-radius: 28px;
      cursor: pointer;
      outline-color: transparent;
      transition: .3s;
      }
    .button__link:hover {
      background-color: #fff;
      color: $blue;
    }  
  }
}

.search__inner--box {
  position: relative;
  height: 135px;
  max-width: 1140px;
  width: 100%;
  background-color: #fff;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
  border-radius: 6px;
  z-index: 10;
  margin-bottom: -65px;
  &::before {
    content: '';
    max-width: 1110px;
    height: 135px;
    opacity: 0.502;
    background-color: #fff;
    border-radius: 6px;
    position: absolute;
    z-index: 5;
    top: -13px;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  &::after {
    content: '';
    max-width: 1080px;
    height: 135px;
    opacity: 0.502;
    background-color: #fff;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    top: -26px;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
}

.search__inner-form {
  position: relative;
  margin-left: 41px;
  padding-top: 40px;
  max-width: 807px;
  z-index: 15;
  width: 100%;
  .form__search {
    display: block;
    width: 100%;
    height: 55px;
    border: 1px solid #dcdcdc;
    border-radius: 4px;
    font-size: 16px;
    line-height: 42px;
    padding-left: 28px;
    padding-right: 210px;
    outline: none;
    color: #676767;
    &::placeholder {
      color: #676767;
      font-size: 16px;
    }
  }
  .form__select {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 55px;
    width: 195px;
    color: #676767;
    font-size: 16px;
    border: 1px solid #dcdcdc;
    border-radius: 0 4px 4px 0;
    padding-left: 17px;
    cursor: pointer;
    outline: none;
  }  
  .form__btn {
    position: absolute;
    bottom: 0;
    right: -253px;
    margin-left: 30px;
    background-color: $blue;
    border-radius: 4px;
    border: none;
    color: #fff;
    font-size: 16px;
    padding: 18px 67px;
    cursor: pointer;
    outline: none;
  }  
}

// end search
// start choice

.choice {
  background-color: #fff;
  padding-top: 185px;
  &__inner {
    display: flex;
    justify-content: space-between;
  }
  &__item {
    max-width: 362px;
    width: 100%;
    text-align: center;
    margin-bottom: 118px;
    margin-right: -4px;
    margin-top: 2px;
  } 
  &__item:hover {
    border-radius: 4px;
    box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
  }
  & &__item + &__item {
    margin-left: 33px;
  }
  &__picture {
    margin-top: 40px;
    min-height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__title {
    font-size: 24px;
    margin-left: -1px;
    padding: 32px 10px 23px 10px;
    color: #212121;  
  }
  &__text {
    color: #555;
    font-size: 16px;
    margin-left: -2px;
    padding: 0 30px 45px;  
    line-height: 30px;
  }  
}

// end choice
// Start slider product

.product {
  background-color: #eff1f5;
  min-height: 850px;
}

.product__inner,
.followers__inner {
  padding-top: 120px;
}

.product__top,
.followers__top {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 110px;
  border-radius: 4px;
  box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
  margin-bottom: 50px;
}

.product__title,
.followers__title {
  color: #000;
  font-size: 30px;
  padding: 38px 30px 40px 30px;
}

.product__btn,
.followers__btn {
  display: flex;
  margin-right: 30px;
}

.product__item {
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0px 2px 30px 0px rgba(147, 155, 168, 0.1);  
  max-width: 1140px;
  min-height: 450px;
  margin-left: 10px;
  &-content {
    display: flex;
    justify-content: space-between;
  }
   &-image {
    max-width: 555px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0;
    outline: none;
  }
}

.product__cart {
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 48px;
  &-title {
      outline: none;
      color: #000;
      @include f500;
      font-size: 24px;
      letter-spacing: 0.1px;
  }
} 

.product__cart-author {
  margin-bottom: 35px;
  margin-top: 16px;  
  .product__cart-celler {
    width: 30px;
    height: 30px;
    outline: none;
    img {
      margin-bottom: -10px;
      display: inline-block;
    }
    span {
      padding-left: 8px;
      color: #000;
      font-size: 15px;
    }
  }  
  .product__cart-platform {
    
    color: #7347c1;
    font-size: 15px;
    margin-left: 5px;
    padding-left: 35px;
    position: relative;
    outline: none;
  }
}

.product__cart-platform::before {
  content: '\e900';
  font-family: 'icomoon';
  font-size: 17px;
  color: #7347c1;
  position: absolute;
  left: 9px;
  top: 2px;
}

.product__cart {
  &-text {
    color: #555;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 34px;
  }
  &-categories {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 43px;
  }
  &-category {
    outline: none;
    color: #868c96;
    font-size: 15px;
    background-color: #f1f3f6;
    padding: 7px 17px;
    border-radius: 15px;
    margin-right: 5px;
  }
}

.product__cart-info {
  padding-top: 25px;
  border-top: 1px solid #ececec;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .product__cart-price {
    text-align: center;
    font-size: 15px;
    @include f500;
    color: #fff;
    padding: 7px 21px;
    background-color: #0674ec;
    border-radius: 16px;
    margin-right: 15px;
    outline: none;
  }
  .product__cart-likes {
    font-size: 15px;
    color: #555;
  }
  .product__cart-likes::before {
    content: '\e813';
    font-family: 'Linearicons-Free';
    color: #7347c1;
    font-size: 15px;
    margin-right: 3px;
  } 
  .product__cart-basket {
    color: #0674ec;
    font-size: 15px;
    margin-right: 159px;
  }
  .product__cart-basket::before {
    content: '\e82e';
    font-family: 'Linearicons-Free';
    color: #0674ec;
    font-size: 15px;
    margin-left: 16px;
    margin-right: 3px;
  } 
} 
.rate-star {
  padding: 0;
}

.slick-btn {
  border: none;
  color: #fff;
  margin-top: 4px;
  background-color: #7347c1;
  cursor: pointer;
  padding: 14px 20px;
  outline: transparent;
  transition: background-color 0.3s ease-in-out;
}

.slick-btn:hover {
  background-color: rgba(115, 71, 193, 0.8);
}

.slick-next {
  border-radius: 0px 30px 30px 0;
}

.slick-prev {
  border-radius: 30px 0 0 30px;
}

//End slider product
// Start magnific-popup Release

.release {
  background-color: #f6f7fb;
  padding: 123px;
}

.release__top,
.release__inner-btn  {
  background-color: #fff;
  min-height: 108px;
  border-radius: 4px;
  box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  .release__title {
    font-size: 30px;
    color: #000;
    margin-left: 30px;
  }
  .release__filter {
    font-size: 16px;
    color: #747b86;
    margin-right: 58px;
    margin-bottom: 6px;
  }
}

.release__top {
display: flex;
justify-content: space-between;
}

.release__inner-btn {
  display: flex;
  flex-flow: row;
  min-height: 92px;
  margin-bottom: 50px;
  button:first-child {
    margin-left: 31px;  
  }
  button {
    padding: 9px 20px;
    border: none;
    background-color: #f1f3f6;
    border-radius: 20px;
    color: #747b86;
    font-size: 15px;
    cursor: pointer;
    margin-right: 8px;
    outline: none;
    transition: .3s;
  }
  button:hover {
    background-color: #0674ec;
    color: #fff;
  } 
}

.release__inner-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.release__item {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
  max-width: 361px;
  width: 100%;
  margin-bottom: 30px;
  &-img {
    position: relative;
  }
  &-image {
    min-height: 230px;
    background-repeat: no-repeat;
    display: block;
    background-position: center;
    background-size: cover;
    outline: none;
  }
  &-shadow {
    background-image: -webkit-linear-gradient( 180deg, rgb(6,116,236) 0%, rgb(61,94,215) 46%, rgb(115,71,193) 100%);
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    overflow: hidden;
    transition: all, .5s;
  }
  &-content {
    // margin-left: 30px;  
    margin-top: 18px;
  }
  &-name {
    margin-bottom: 16px;
    margin-left: 30px;  
    padding-top: 9px;
  }
  &-title {
    font-size: 20px;
    color: #000;    
    letter-spacing: 0.2px;
    
  }
  &-author {
    margin-bottom: 32px;
    margin-left: 28px;
  }    
  &-celler {
    width: 30px;
    height: 30px;
    
    outline: none;
    img {
      margin-bottom: -10px;
      display: inline-block;
    }
    span {
      padding-left: 5px;
      color: #000;
      font-size: 15px;
    }
  }  
  &-category {
    
    color: #7347c1;
    font-size: 15px;
    margin-left: 3px;
    padding-left: 35px;
    
    position: relative;
    outline: none;
  }
}

.shadow__link { 
  color: #fff;
  font-size: 15px;
  @include f500;
  border: 1px solid #f4f4f4;
  background-color: transparent;
  padding: 14px 28px;
  border-radius: 28px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  
  outline-color: transparent;
  transition: .3s;
  // margin: 0 6px;
  margin-left: 11px;
}

.shadow__link:hover {
  background-color: #fff;
  color: $blue;
}  

.release__item-img:hover .release__item-shadow {
  height: 230px;
  border-radius: 4px;
}

.release__item-category::before  {
  content: '\e900';
  font-family: 'icomoon';
  font-size: 17px;
  color: #7347c1;
  position: absolute;
  left: 10px;
  top: 2px;
}

.release__item-text {
  margin-left: 30px;  
  color: #555;
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 29px; 
  padding-right: 25px;
} 

.release__item-info {
  padding-top: 15px;
  border-top: 1px solid #ececec;
  display: flex;
  flex-flow: row;
  align-items: center;
  padding-bottom: 17px;
  .release__item-price {
    margin-left: 30px;  
    text-align: center;
    font-size: 15px;
    @include f500;
    color: #0674ec;
    padding: 7px 19px;
    background-color: #e6f1fd;
    border-radius: 16px;
    margin-right: 13px;
    outline: none;
  }
  .release__item-likes {
    font-size: 15px;
    color: #6f7d8d;
    margin-right: 12px;
  }
  .release__item-likes::before {
    content: '\e813';
    font-family: 'Linearicons-Free';
    color: #7f4ec2;
    font-size: 15px;
    margin-right: 3px;
  } 
  .release__item-info {
    .rate-star {
      padding: 0;
      }
  }
  .release__item-basket {
    color: #0674ec;
    font-size: 15px;
    margin-left: 3px;
  }
  .release__item-basket::before {
    content: '\e82e';
    font-family: 'Linearicons-Free';
    color: #0674ec;
    font-size: 15px;
    margin-left: 30px;
    margin-right: 3px;
  } 
}

.release__button {
  margin-top: 30px;
  max-height: 55px;
  text-align: center;
  button {
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.1);
    border: none;
    background-color: #0674ec;
    color: #fff;
    font-size: 16px;
    padding: 21px 33px;
    border-radius: 28px;
    cursor: pointer;
    outline-color: transparent;
    transition: .5s;
    }
}

.release__button button:hover {
  background-color: #fff;
  color: #0674ec;
}  

// End magnific-popup Release
//Start Slick-Slider Followers

.followers {
  background-color: #eff1f5;
  min-height: 930px;
}

.followers__btn {
  background-color: $blue;
}

.followers__wrapper {
text-align: center;
}

.slick-list {
  margin-left: -10px;
  margin-right: -10px;  
}

.followers__wrapper.release__item {
  margin-bottom: 120px; 
}

//End Slick-Slider Followers
//Start Progress

.progress {
  background-color: #212225;
  width: 100%;
  min-height: 350px;
}

.progress__inner {
  display: flex;
  justify-content: space-between;
}

.progress__item {
  min-width: 130px;
  margin-top: 192px;  
  text-align: center;
}

.progress__item-quantity {
  font-size: 36px;    
  margin-bottom: 15px;  
  position: relative;
}

.progress__item-text {
  font-size: 18px;
  margin-bottom: 96px;
}
.progress__item-quantity--orange {
  color: #feb71d;
  &::before {
    content: '\e84c';
    font-family: 'Linearicons-Free';
    font-size: 48px;
    position: absolute;
    bottom: 80px;
    right: 40px;
  }
}


.progress__item-quantity--blue {
  color: #58c9e9;
  &::before {
    content: '\e80b';
    font-family: 'Linearicons-Free';
    font-size: 48px;
    position: absolute;
    bottom: 80px;
    right: 40px;
  }
}

.progress__item-quantity--green {
  color: #77de51;
  &::before {
    content: '\e854';
    font-family: 'Linearicons-Free';
    font-size: 48px;
    position: absolute;
    bottom: 80px;
    right: 47px;
  }
}

.progress__item-quantity--red {
  color: #ff6a6d;
  &::before {
    content: '\e82b';
    font-family: 'Linearicons-Free';
    font-size: 48px;
    position: absolute;
    bottom: 80px;
    right: 40px;
  }
} 

//End Progress
//Start Advantages

.advantages {
  background-color: #fff;
}

.advantages__inner {
  margin-top: 120px;
}

.advantages__top {
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
  .advantages__title {
    color: #000;
    font-size: 35px;
    margin-bottom: 23px;
    span {
      color: $blue;
    }
  }
  .advantages__text {
    color: #555;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 53px;
  }
}

.advantages__box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  .advantages__card {
    max-width: 360px;
    min-height: 374px;
    border-radius: 4px;
    box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
    margin-bottom: 30px;
    text-align: center;
    &-title {
      color: #000;
      font-size: 24px;
      margin-top: 156px;
      margin-bottom: 23px;
      position: relative;
    }
    &-text {
      color: #555;
      font-size: 16px;
      line-height: 30px;
      margin-left: 30px;
      margin-right: 30px;
    }
  }
}

// .advantages__card-title--01::before,
// .advantages__card-title--02::before,
// .advantages__card-title--03::before,
// .advantages__card-title--04::before,
// .advantages__card-title--05::before,
// .advantages__card-title--06::before {
//   content: '01';
//   font-size: 48px;
//   color: rgba(92, 135, 248, 0.2);
//   position: absolute;
//   bottom: 120px;
//   left: 15px;
// }

.advantages__card-title {
  &--01::before,
  &--02::before,
  &--03::before,
  &--04::before,
  &--05::before,
  &--06::before {
    content: '01';
    font-size: 48px;
    color: rgba(92, 135, 248, 0.2);
    position: absolute;
    bottom: 120px;
    left: 15px;
  }
  &--02::before {
    content: '02';   
  }
  &--03::before {
    content: '03';   
  }
  &--04::before {
    content: '04';   
  }
  &--05::before {
    content: '05';   
  }
  &--06::before {
    content: '06';   
  }
  &--01::after,
  &--02::after,
  &--03::after,
  &--04::after,
  &--05::after,
  &--06::after {
    font-size: 60px;
    font-family: "Linearicons-Free";
    position: absolute;
    bottom: 70px;
    left: 150px;
    content: "\e822";
    color: #0674ec;
  }
  &--02::after {
    content: "\e803"; 
    color: #7f4ec2; 
  }
  &--03::after {
    content: "\e80f"; 
    color: #77de51; 
  }
  &--04::after {
    content: "\e843"; 
    color: #feb71d; 
  }
  &--05::after {
    content: "\e849"; 
    color: #58c9e9; 
  }
  &--06::after {
    content: "\e831"; 
    color: #ff6a6d; 
  }
}

//End Advantages
//Start Market 

.market__wrapper {
  width: 100%;
  display: flex;
  margin-top: 120px;
  justify-content: center;
}
.market__item--blue,
.market__item--purple {
  width: 50%;
  min-height: 560px;
  text-align: center;
  padding-top: 100px;
  background-repeat: no-repeat;
  // display: block;
  background-position: center;
  background-size: cover;
  outline: none;
  margin-left: -5px;
  margin-right: -5x;
  padding-left: 0;
  padding-right: 0;
  .market__item-title {
    font-size: 36px;
    margin-top: 48px;
    margin-bottom: 28px;
  }
  .market__item-text {
    max-width: 600px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 16px;
    line-height: 30px;
    margin: 0 auto;
    margin-bottom: 43px;
  }
  .market__item-btn {
    
    font-size: 16px;
    color: #0674ec;
    background-color: #fff;
    min-width: 192px;
    display: inline-block;
    padding-top: 22px;
    padding-bottom: 22px;
    border-radius: 30px;
    margin-bottom: 120px;
    border: 1px solid transparent;
    transition: .3s;
  }
  .market__item-btn:hover {
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
  } 
}

.market__item--purple .market__item-btn {
  color: #7347c1;
}

//End Market
//Start Feedbaack

.feedback {
  background-color: #fff;
  min-height: 840px;
  padding-top: 120px;
  &__top {
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
    // margin-top: 120px;
    &-title {
      color: #000;
      font-size: 36px;
      margin-bottom: 23px;
      margin-top: 0;
      span {
        color: $blue;
        }
    }
    &-text {
      color: #555;
      font-size: 16px;
      line-height: 30px;
      margin-bottom: 53px;
    }
  }
  &__wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
  }
}

.feedback__card {
  max-width: 555px;
  min-height: 315px;
  background-color: #fff;
  box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
  border-radius: 0 4px 4px 0;
  padding-top: 50px;
  border-left: 1px solid $blue; 
  .feedback__client {
  margin-left: 40px;
  display: flex;
  flex-wrap: wrap;    
  }
  .feedback__avatar {
    width: 80px;
    height: 80px;
    margin-bottom: 23px;
  }
  .feedback__client-info {
    max-width: 320px;
    padding-left: 20px;
  }
  .feedback__name {
    font-size: 20px;
    color: #000;
    padding-top: 15px;
    
    display: block;
    position: relative;
  } 
  .feedback__name::after {
    content: '\e83f';
    font-family: "Linearicons-Free";
    font-size: 60px;
    color: #e8e8e8;
    position: absolute;
    top: 3px;
    left: 315px;
  }
  .feedback__profession {
    font-size: 16px;
    color: #555;
    margin: 0;
    padding-top: 15px;
  }
  .feedback__text {
    font-size: 16px;
    color: #555;
    line-height: 30px;
    min-width: 480px;
    padding-right: 40px;
    margin-bottom: 50px;
    margin-top: 0;
  }
}

.feedback__button {
  text-align: center;
  margin-bottom: 140px;
  &-link {
    
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.1);
    border: none;
    background-color: #0674ec;
    color: #fff;
    font-size: 16px;
    padding: 21px 33px;
    border-radius: 28px;
    cursor: pointer;
    outline-color: transparent;
    transition: .5s;
  }
  &-link:hover {
    background-color: #fff;
    color: #0674ec;
  } 
}

//End Feedback
//Start News

.news {
  background-color: #eff1f5;
  min-height: 880px;
  padding-top: 120px;
  &__top {
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
    // margin-top: 120px;
    &-title {
      color: #000;
      font-size: 36px;
      margin-bottom: 23px;
      margin-top: 0;
      span {
        color: $blue;
        }
    }
    &-text {
      color: #555;
      font-size: 16px;
      line-height: 30px;
      margin-bottom: 53px;
    }
  }
  &__wrapper {
    display: flex;
    justify-content: space-between;
  }
  &__item {
    background-color: #fff;
    box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
    border-radius: 4px;
    max-width: 361px;
    width: 100%;
    margin-left: 14px;
    margin-right: 14px;
    &-img {
      position: relative;
    }
    &-image {
      min-height: 230px;
      border-radius: 4px 4px 0 0;
      background-repeat: no-repeat;
      display: block;
      background-position: center;
      background-size: cover;
      outline: none;
    }
    &-content {
      margin-top: 30px;
    }
    &-name {
      margin-bottom: 23px;
      margin-left: 30px;  
      max-width: 300px;
    }
    &-title {
      font-size: 22px;
      color: #000; 
      @include f500;   
      
    }
    &-text {
      font-size: 16px;
      color: #555;
      line-height: 30px;
      max-width: 300px;
      margin-left: 30px;  

    }
    &-info {
      border-top: 1px solid #ececec;
      display: flex;
      justify-content: space-between;  
      align-items: center;
      min-height: 60px;
      padding-left: 30px;
      padding-right: 30px;
    }
    &-data {
      font-size: 15px;
      color: #999;
      padding-top: 24px;
      padding-bottom: 24px;
      padding-left: 23px;
      padding-right: 57px;
      position: relative;
     }
    &-data::before {
      content: '\e864';
      font-family: 'Linearicons-Free';
      font-size: 15px;
      color: $blue;
      position: absolute;
      top: 24px;
      left: 0px;
    }
    &-data::after {
      content: '';
      background-color: #ececec;
      width: 1px;
      height: 40px;
      position: absolute;
      top: 12px;
      right: 10px; 
    }
    &-likes {
      font-size: 15px;
      color: #7e7e7e;
      margin-right: 30px;
      padding-left: 25px;
      position: relative;
    }
    &-likes::before {
      content: '\e83f';
      font-family: 'Linearicons-Free';
      font-size: 15px;
      color: #7e7e7e;
      position: absolute;
      top: 0;
      left: 5px;
    }
    &-view {
      font-size: 15px;
      color: #7e7e7e;
      padding-left: 20px;
      position: relative;
    }
    &-view:before {
      content: '\e81b';
      font-family: 'Linearicons-Free';
      font-size: 15px;
      color: #7e7e7e;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}

//End News
// Start Protect

.protect {
  background-color: #fff;
  width: 100%;
  &__wrapper {
    display: flex;
    justify-content: space-around;
  }
  &__item {
    width: 50%;
    padding-top: 62px;
  }
  &__item:first-child {
    border-right: 1px solid #e8eaf3;
  }
  &__image {
    text-align: center;
    margin: 0 auto;
    margin-bottom: 30px;
    width: 155px;
    height: 120px;
    transition: 0.3s;
    &-link {
      
      outline: none;
    }
  }
  &__image:hover {
    opacity: 0.5;
  }
  &__title {
    font-size: 24px;
    color: #000;
    margin-bottom: 60px;
    text-align: center;
    span {
      color: $blue;
    }
    &--purple {
      span {
        color: #7347c1;
      }
    }
  }
}

//End Protect
//Start Banner
.banner {
  background-color: #000;
  width: 100%;
  background-image: -webkit-linear-gradient( 180deg, rgb(13,62,242) 0%, rgb(64,48,201) 46%, rgb(114,33,160) 100%);
  opacity: 0.902;
  &__box {
    max-width: 600px;
    margin: 0 auto;
  }
  &__title {
    text-align: center;
    padding-top: 110px;
    font-size: 36px;
    margin-bottom: 24px;
    margin-top: 0;
  }
  &__text {
    color: #e7e7e7;
    font-size: 18px;
    text-align: center;
    margin-bottom: 70px;
  }
  &__btn {
    text-align: center;
  padding-bottom: 140px;
  }  
  &__link {
    text-align: center;
    color: $blue;
    font-size: 16px;
    
    padding: 21px 43px;
    background-color: #fff;
    border-radius: 30px;
    align-items: center;
    margin: 0 auto;
    border: none;
    cursor: pointer;
    outline-color: transparent;
    transition: .5s;
   }
  &__link:hover {
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
  } 
}



//End Banner

    // box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.1);
