@import 'vars';
@import 'global';
@import 'fonts';

// start header

.header__top {
  background-color: $header_bg;
}

.header__top-inner {
  display: flex;
  justify-content: space-between;
  height: 100px;
  align-items: center;
}

.header__logo {
  margin-left: 7px;
}

.header__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.botton {
  color: #fff;
  text-decoration: none;
  text-align: center;
}

.header__btn {
  padding: 12px 18px;  
  border-radius: 18px;
  background-color: #0674ec;
}

.header__icon {
  margin-left: 50px;
  margin-right: 25px;
}

.header__icon--number {
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  padding: 6px 9px;
  border-radius: 13px;
  position: absolute; 
}

.header__icon--ring {
  text-decoration: none;
  margin-right: 32px;
  position: relative;
  .header__icon--number {
    background-color: #ff6a6c;
    left: 11px;
    top: -24px;
  }
  &::before {
    content: '\f0a2';
    font-family: 'icomoon';
    font-size: 20px;
    color: #7e8fa1;
  }
}  

.header__icon--mail {
  text-decoration: none;
  margin-right: 32px;
  position: relative;
  .header__icon--number {
    background-color: #62d03b;
    left: 16px;
    top: -24px;
  } 
  &::before {
    content: '\f003';
    font-family: 'icomoon';
    font-size: 20px;
    color: #7e8fa1;
  }
}  

.header__icon--basket {
  text-decoration: none;
  position: relative;
  .header__icon--number {
    background-color: #0674ec;
    left: 15px;
    top: -24px;
  } 
  &::before {
    content: '\f07a';
    font-family: 'icomoon';
    font-size: 20px;
    color: #7e8fa1;
  }
}  

.header__user {
  display: flex;
  justify-content: space-between;
  line-height: 22px;
}

.user__avatar {
  width: 50px;
  height: 50px;
  margin-left: 25px;
  margin-right: 20px;
}

.user__name {
  font-size: 16px;
  font-weight: 500;
  color: #333333;
  text-decoration: none;
}

.user__balance {
  font-size: 15px;
  color: $blue;
  text-decoration: none;
  display: block;
}

.header__menu {
  background-color: #fff;
}

.menu__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

.menu__top {
  display: flex;
}

.menu__list,
.menu__item {
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu__item {
  display: inline-block;
  text-transform: uppercase;
} 

.menu__list .menu__item + .menu__item {
  margin-left: 34px;
}

.menu__link {
  text-decoration: none; 
  color: #333;
  font-weight: 500;
  font-size: 15px;
}

.menu__search {
  max-width: 360px;
  margin-right: 0;
  position: relative;
  input {
    display: block;
    width: 100%;
    border-radius: 23px;
    height: 46px;
    border: 1px solid #d9dfe5;
    font-size: 15px;
    padding-left: 24px;
    padding-right: 80px;
    outline-color: transparent;
    &::placeholder {
      color: #898f96;
    }
  }
  button {
    position: absolute;
    border: none;
    padding: 14px 27px 13px;
    width: 70px;
    height: 46px;
    background-color: $blue;
    border-radius: 23px;
    right: -1px;
    top: 0px;
    outline-color: transparent;
    cursor: pointer;
  }
}

// end header
// start search

.search {
  background-color: #2b2b2b;
  min-height: 726px;
  background-image: -webkit-gradient(linear, right top, left bottom, from(#0030de), color-stop(54%, #1745ed), to(#2e5afb));
  // background-image: linear-gradient(180deg, rgb(0, 49, 224) 0%, rgb(23,69,237) 54%, rgb(46,90,251) 100%);
  // opacity: 0.8;
}

.search__inner {
  text-align: center;
  &-title {
    padding-top: 174px;
    font-size: 60px;
    line-height: 70px;
    color: #f3f3f8;
    margin-bottom: 38px;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
    span {
      font-weight: 700;
      display: inline-block;
      padding-top: 5px;
      text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
      }
  }
  &-text {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 70px;
    }
}

.search__inner-btn {
  text-align: center;
  button {
    margin: 0 15px 166px;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.1);
    border: 1px solid #fff;
    background-color: transparent;
    color: #fff;
    font-size: 16px;
    padding: 19px 37px;
    border-radius: 28px;
    cursor: pointer;
    outline-color: transparent;
    transition: .3s;
    }
}

.search__inner-btn button:hover {
  background-color: #fff;
  color: $blue;
}  

.search__inner--box {
  position: relative;
  height: 135px;
  max-width: 1140px;
  width: 100%;
  background-color: #fff;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
  border-radius: 6px;
  z-index: 10;
  margin-bottom: -65px;
  &::before {
    content: '';
    max-width: 1110px;
    height: 135px;
    opacity: 0.502;
    background-color: #fff;
    border-radius: 6px;
    position: absolute;
    z-index: 5;
    top: -13px;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  &::after {
    content: '';
    max-width: 1080px;
    height: 135px;
    opacity: 0.502;
    background-color: #fff;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    top: -26px;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
}

.search__inner-form {
  position: relative;
  margin-left: 47px;
  padding-top: 40px;
  max-width: 807px;
  z-index: 15;
  width: 100%;
  input {
    display: block;
    width: 100%;
    height: 55px;
    border: 1px solid #dcdcdc;
    border-radius: 4px;
    font-size: 16px;
    line-height: 42px;
    padding-left: 28px;
    padding-right: 210px;
    outline: none;
    color: #676767;
    &::placeholder {
      color: #676767;
      font-size: 16px;
    }
  }
  select {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 55px;
    width: 195px;
    color: #676767;
    font-size: 16px;
    border: 1px solid #dcdcdc;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    outline: none;
  }
  button {
    position: absolute;
    bottom: 0;
    right: -235px;
    margin-left: 30px;
    background-color: $blue;
    border-radius: 4px;
    border: none;
    color: #fff;
    font-size: 16px;
    height: 55px;
    width: 195px;
    cursor: pointer;
    outline: none;
  }  
}

// end search
// start choice

.choice {
  background-color: #fff;
  // min-height: 710px;
  padding-top: 185px;
  &__inner {
    display: flex;
    justify-content: space-between;
  }
  &__item {
    max-width: 362px;
    width: 100%;
    text-align: center;
    // border-radius: 4px;
    // box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
    margin-bottom: 120px;
  } 
}

.coice .choice__item + .choice__item {
  margin-left: 40px;
}

.choice{
  &__picture {
    margin-top: 40px;
    height: 120px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  &__title {
    font-size: 24px;
    padding: 30px 10px;
    color: #212121;  
  }
  &__text {
    color: #555;
    font-size: 16px;
    padding: 0 30px 50px;  
  }
}

.choice__item:hover {
  border-radius: 4px;
  box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
}

// end choice
// Start slider

.product {
  background-color: #eff1f5;
  min-height: 850px;
}

.product__inner {
  padding-top: 120px;
}

.product__top {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  min-height: 110px;
  border-radius: 4px;
  box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
  margin-bottom: 50px;
}

.product__title {
  color: #000;
  font-size: 30px;
  padding: 40px 30px;
}

// .product__btn {

// }

.product__item {
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0px 2px 30px 0px rgba(147, 155, 168, 0.1);  
  width: 1140px;
  height: 450px;
  display: flex;
  justify-content: space-between;
  &-images {
    max-width: 555px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}

.product__cart {
  margin-left: 50px;
  margin-right: 60px;
  &-title {
    color: #000;
    font-weight: 500;
    font-size: 24px;
    margin-top: 50px;
    margin-bottom: 15px;
  }
} 
  .product__cart-author {
    text-decoration: none;
    margin-bottom: 35px;
    &--first {
      width: 30px;
      height: 30px;
      text-decoration: none;
      margin-right: 5px;
      img {
        margin-bottom: -8px;
      }
      span {
        padding-left: 5px;
        color: #000;
        font-size: 15px;
      }
    }
   

    &--second {
      color: #7347c1;
      font-size: 15px;
      padding-left: 35px;
      text-decoration: none;
      position: relative;
    }
  }

.product__cart-author--second::before {
  content: '\e900';
  font-family: 'icomoon';
  font-size: 17px;
  color: #7347c1;
  position: absolute;
  left: 11px;
  top: -1px;
}

.product__cart {
  &-text {
    color: #555;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 40px;
  }
  &-categories {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    margin-bottom: 44px;
  }
  &-category {
    text-decoration: none;
    color: #868c96;
    font-size: 15px;
    background-color: #f1f3f6;
    padding: 5px 15px 7px;
    border-radius: 15px;
    margin-right: 7px;
  }
}

.product__cart-info {
  padding-top: 24px;
  border-top: 1px solid #ececec;
  display: flex;
  align-items: center;
  .product__cart-price {
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    padding: 6px 18px;
    background-color: #0674ec;
    border-radius: 16px;
    text-decoration: none;
    margin-right: 18px;
  }
  .product__cart-likes {
    font-size: 15px;
    color: #555;
  }
  .product__cart-likes::before {
    content: '\e813';
    font-family: 'Linearicons-Free';
    color: #7347c1;
    font-size: 15px;
    margin-right: 3px;
  } 
  .product__cart-basket {
    color: #0674ec;
    font-size: 15px;
  }
  .product__cart-basket::before {
    content: '\e82e';
    font-family: 'Linearicons-Free';
    color: #0674ec;
    font-size: 15px;
    margin-left: 18px;
    margin-right: 3px;
  } 
} 
  .product__cart-rating {
    margin-left: 155px;
    color: #62d03b;
  }
  .rate-star {
    font-size: 18px;
    color: green;
    }






//End slider









