@import "_fonts";
@import "_vars";
@import "_global";

// start header

.header {
  &__top {
    background-color: $header_bg;
  }
  &__top-inner {
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
  }
  &__logo {
    margin-left: 7px;
  }
  &__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -3px;
  }

  &__btn {
    padding: 12px 18px;
    border-radius: 18px;
    background-color: $blue;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
  }

  &__btn:hover {
    background-color: transparent;
    color: $blue;
    border: 1px solid $blue;
  }

  &__icons {
    margin-left: 48px;
    margin-right: 13px;
  }

  &__quantity {
    font-size: 14px;
    @include f500;
    color: #fff;
    padding: 4px 6px;
    border-radius: 13px;
    position: absolute;
  }

  &__icon {
    margin-right: 10px;
    &--ring {
      margin-right: 25px;
      position: relative;
      .header__quantity {
        background-color: #ff6a6c;
        left: 8px;
        top: -20px;
      }
      &::before {
        content: "\e858";
        font-family: "Linearicons-Free";
        font-size: 20px;
        color: #7e8fa1;
      }
    }
    &--mail {
      margin-right: 31px;
      position: relative;
      .header__quantity {
        background-color: #62d03b;
        left: 16px;
        top: -20px;
      }
      &::before {
        content: "\e818";
        font-family: "Linearicons-Free";
        font-size: 20px;
        color: #7e8fa1;
      }
    }
    &--basket {
      position: relative;
      .header__quantity {
        background-color: #0674ec;
        left: 15px;
        top: -20px;
      }
      &::before {
        content: "\e82e";
        font-family: "Linearicons-Free";
        font-size: 20px;
        color: #7e8fa1;
      }
    }
  }
  &__user {
    display: flex;
    justify-content: space-between;
    line-height: 22px;
  }
  &__menu {
    background-color: #fff;
  }
}

.button {
  color: #fff;
  text-align: center;
}

.user {
  &__info {
    margin-top: 7px;
  }
  
  &__avatar {
    margin-left: 24px;
    margin-right: 23px;
    max-width: 50px;
    max-height: 50px;
    margin-top: 3px;
    border-radius: 50%;
  }

  &__name {
    font-size: 16px;
    @include f500;
    color: #333333;
    display: block;
  }

  &__balance {
    margin: 0;
    padding: 0;
    font-size: 15px;
    color: $blue;
  }
}

.menu {
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
  }
  &__top {
    display: flex;
    margin-top: -4px;
  }
  &__list,
  &__item {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  &__item {
    display: inline-block;
    text-transform: uppercase;
  }
  &__link {
    color: #333;
    @include f500;
    font-size: 15px;
    transform-origin: 0.3s;
  }

  &__link:hover {
    color: $blue;
  }

  &__list &__item + &__item {
    margin-left: 30px;
  }
  &__search {
    max-width: 360px;
    margin-right: 0;
    position: relative;
  }
  &__search-input {
    display: block;
    width: 100%;
    border-radius: 23px;
    height: 46px;
    border: 1px solid #d9dfe5;
    font-size: 15px;
    padding-left: 24px;
    padding-right: 80px;
    margin-right: 99px;
    margin-bottom: 3px;
    outline-color: transparent;
    &::placeholder {
      color: #898f96;
    }

    &:focus {
      background: #cbd7f1;
    }
  }

  &__search-btn {
    position: absolute;
    border: none;
    padding: 14px 27px 13px;
    width: 70px;
    height: 46px;
    background-color: $blue;
    border-radius: 23px;
    right: -1px;
    top: 0px;
    outline-color: transparent;
    cursor: pointer;
    &:hover {
      opacity: 0.6;
    }

  }
  &__search-btn::before {
    content: "\e86f";
    font-family: "Linearicons-Free";
    font-size: 15px;
    color: #fff;
    position: absolute;
    top: 15px;
    left: 29px;
  }
}

// end header
// start search

.search {
  background-color: #2b2b2b;
  min-height: 726px;
  background-image: -webkit-gradient(
    linear,
    right top,
    left bottom,
    from(#0030de),
    color-stop(54%, #1745ed),
    to(#2e5afb)
  );

  &__inner {
    text-align: center;
    &-box {
      position: relative;
      height: 135px;
      max-width: 1140px;
      width: 100%;
      background-color: #fff;
      box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
      border-radius: 6px;
      z-index: 10;
      margin-bottom: -65px;
      &::before,
      &::after {
        content: "";
        height: 135px;
        opacity: 0.5;
        background-color: #fff;
        border-radius: 6px;
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
      }

      &::before {
        max-width: 1110px;
        z-index: 5;
        top: -13px;
      }

      &::after {
        max-width: 1080px;
        z-index: 1;
        top: -26px;
      }
    }
  }
  &__inner-title {
    padding-top: 169px;
    font-size: 60px;
    line-height: 70px;
    color: #f3f3f8;
    margin-bottom: 35px;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
  }

  &__inner-subtitle {
    @include f700;
    display: inline-block;
    padding-top: 1px;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
  }
  &__inner-text {
    font-size: 20px;
    @include f500;
    margin-bottom: 88px;
    letter-spacing: 0.1px;
  }
  &__inner-btn {
    text-align: center;
    margin-bottom: 185px;
    .button__link {
      margin: 0 15px;
      box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.1);
      border: 1px solid #fff;
      background-color: transparent;
      color: #fff;
      font-size: 16px;
      padding: 16px 30px;
      border-radius: 28px;
      cursor: pointer;
      outline-color: transparent;
      transition: 0.3s;
    }
    .button__link:hover {
      background-color: #fff;
      color: $blue;
    }
  }

  &__inner-form {
    position: relative;
    margin-left: 41px;
    padding-top: 40px;
    max-width: 807px;
    z-index: 15;
    width: 100%;
  }
}

.form {
  &__search {
    display: block;
    width: 100%;
    height: 55px;
    border: 1px solid #dcdcdc;
    border-radius: 4px;
    font-size: 16px;
    line-height: 42px;
    padding-left: 28px;
    padding-right: 210px;
    outline: none;
    color: #676767;
    &::placeholder {
      color: #676767;
      font-size: 16px;
    }
  }

  &__search:focus {
    background: #b9cbf3;
  }

  &__select {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 55px;
    width: 195px;
    color: #676767;
    font-size: 16px;
    border: 1px solid #dcdcdc;
    border-radius: 0 4px 4px 0;
    padding-left: 17px;
    cursor: pointer;
    outline: none;
  }
  &__btn {
    position: absolute;
    bottom: 0;
    right: -253px;
    margin-left: 30px;
    background-color: $blue;
    border-radius: 4px;
    border: none;
    color: #fff;
    font-size: 16px;
    padding: 18px 67px;
    cursor: pointer;
    outline: none;
  }

  &__btn:hover {
    opacity: 0.7;
  }
}

// end search
// start choice

.choice {
  background-color: #fff;
  padding-top: 185px;
  &__inner {
    display: flex;
    justify-content: space-between;
  }
  &__item {
    max-width: 362px;
    width: 100%;
    text-align: center;
    margin-bottom: 118px;
    margin-right: -4px;
    margin-top: 2px;
  }
  &__item:hover {
    border-radius: 4px;
    box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
  }

  & &__item + &__item {
    margin-left: 33px;
  }

  &__picture {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
  }

  &__picture-img {
    height: 120px;
  }

  &__title {
    font-size: 24px;
    margin-left: -1px;
    padding: 32px 10px 23px 10px;
    color: #212121;
  }

  &__text {
    color: #555;
    font-size: 16px;
    margin-left: -2px;
    padding: 0 30px 45px;
    line-height: 30px;
  }
}

// end choice
// Start slider product

.top {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 110px;
  border-radius: 4px;
  box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
  margin-bottom: 50px;

  &__title {
    color: #000;
    font-size: 30px;
    padding: 38px 30px 40px 30px;
  }

  &__btn {
    display: flex;
    margin-right: 30px;
  }
}

.product {
  background-color: #eff1f5;

  &__inner {
    padding-top: 120px;
  }

  &__item {
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0px 2px 30px 0px rgba(147, 155, 168, 0.1);
    max-width: 1140px;
    min-height: 450px;
    margin-left: 10px;
    margin-bottom: 120px;
  }

  &__item-content {
    display: flex;
    justify-content: space-between;
  }

  &__item-image {
    margin: 0;
    outline: none;
    height: auto;
  }

  &__item-img {
    max-width: 555px;
  }

  &__card {
    padding: 50px 50px 0 50px;
  }

  &__card-title {
    outline: none;
    color: #000;
    @include f500;
    font-size: 24px;
    letter-spacing: 0.1px;
  }

  &__card-author {
    margin-bottom: 35px;
    margin-top: 16px;
  }

  &__card-celler {
    outline: none;
    width: auto;
  }

  &__card-celler-img {
    max-width: 30px;
    height: 30px;
    margin: 0 0 -10px 0;
    display: inline-block;
    border-radius: 50%;
  }

  &__card-celler-name {
    padding-left: 6px;
    color: #000;
    font-size: 15px;
  }

  &__card-platform {
    color: #7347c1;
    font-size: 15px;
    margin-left: 5px;
    padding-left: 35px;
    position: relative;
    outline: none;
    &::before {
      content: "\e900";
      font-family: 'icomoon';
      font-size: 17px;
      color: #7347c1;
      position: absolute;
      left: 9px;
      top: 2px;
    }
  }



  &__card-text {
    color: #555;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 34px;
    max-height: 125px;
    overflow: hidden;
  }

  &__card-categories {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 43px;
    max-width: 490px;
  }

  &__card-category {
    outline: none;
    color: #868c96;
    font-size: 15px;
    background-color: #f1f3f6;
    padding: 7px 17px;
    border-radius: 15px;
    margin-right: 5px;
  }

  &__card-base {
    padding-top: 22px;
    border-top: 1px solid #ececec;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__card-info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  &__card-price {
    text-align: center;
    font-size: 15px;
    @include f500;
    color: #fff;
    padding: 7px 21px;
    background-color: #0674ec;
    border-radius: 16px;
    margin-right: 20px;
    outline: none;
  }

  &__card-likes {
    font-size: 15px;
    color: #555;
    margin-right: 5px;
    &::before {
      content: "\e813";
      font-family: "Linearicons-Free";
      color: #7347c1;
      font-size: 15px;
      margin-right: 3px;
    }
  }

  &__card-basket {
    color: #0674ec;
    font-size: 15px;
    margin-right: 10px;
    &::before {
      content: "\e82e";
      font-family: "Linearicons-Free";
      color: #0674ec;
      font-size: 15px;
      margin-left: 16px;
      margin-right: 3px;
    }
  }
}

.slick-slide img {
  display: inline-block;
}

.rate-star {
  padding: 0;
}

.slick-btn {
  border: none;
  color: #fff;
  margin-top: 4px;
  background-color: rgb(115, 71, 193);
  cursor: pointer;
  padding: 14px 20px;
  outline: transparent;
  transition: background-color 0.3s ease-in-out;
}

.slick-btn:hover {
  opacity: 0.8;
}

.slick-next {
  border-radius: 0px 30px 30px 0;
}

.slick-prev {
  border-radius: 30px 0 0 30px;
}

//End slider product
// Start magnific-popup Release

.release {
  background-color: #f6f7fb;
  padding: 123px;

  &__top,
  &__inner-btn {
    background-color: #fff;
    min-height: 108px;
    border-radius: 4px;
    box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
    margin-bottom: 26px;
    display: flex;
    align-items: center;
  }

  &__title {
    font-size: 30px;
    color: #000;
    margin-left: 30px;
  }

  &__filter {
    font-size: 16px;
    color: #747b86;
    margin-right: 59px;
    margin-bottom: 11px;
    position: relative;
  }

  &__filter::after {
    content: url(../images/icons/dots.png);
    position: absolute;
    right: -29px;
  }

  &__top {
    display: flex;
    justify-content: space-between;
  }

  &__inner-btn {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    min-height: 92px;
    margin-bottom: 55px;
    padding-left: 31px;
  }

  &__inner-button {
    padding: 7px 20px;
    border: none;
    background-color: #f1f3f6;
    border-radius: 20px;
    color: #747b86;
    font-size: 15px;
    cursor: pointer;
    margin-right: 8px;
    outline: none;
    transition: 0.3s;
  }

  &__inner-button:hover {
    background-color: #0674ec;
    color: #fff;
  }

  &__inner-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__item {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
    max-width: 361px;
    width: 100%;
    margin-bottom: 30px;
  }

  &__item-img {
    position: relative;
  }

  &__image {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    max-height: 230px;
    max-width: 361px;
  }

  &__picture {
    height: 100%;
    width: auto;
  }

  &__item-shadow {
    background-image: -webkit-linear-gradient(
      180deg,
      rgb(6, 116, 236) 0%,
      rgb(61, 94, 215) 46%,
      rgb(115, 71, 193) 100%
    );
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    overflow: hidden;
    transition: all, 0.5s;
  }

  &__item-content {
    margin-top: 18px;
  }

  &__item-name {
    margin-bottom: 16px;
    margin-left: 30px;
    padding-top: 9px;
  }

  &__item-title {
    font-size: 20px;
    color: #000;
    @include f500;
    letter-spacing: 0.2px;
  }

  &__item-author {
    margin-bottom: 32px;
    margin-left: 28px;
  }

  &__item-celler {
    outline: none;
    img {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      margin-bottom: -10px;
      display: inline-block;
    }
  }

  &__item-celler-name {
    padding-left: 5px;
    color: #000;
    font-size: 15px;
  }

  &__item-category {
    color: #7347c1;
    font-size: 15px;
    margin-left: 3px;
    padding-left: 35px;
    position: relative;
    outline: none;
  }

  &__item-img:hover &__item-shadow {
    height: 230px;
    border-radius: 4px;
  }

  &__item-category::before {
    content: "\e900";
    font-family: 'icomoon';
    font-size: 17px;
    color: #7347c1;
    position: absolute;
    left: 10px;
    top: 2px;
  }

  &__item-text {
    margin-left: 30px;
    color: #555;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 29px;
    padding-right: 25px;
    max-height: 90px;
    overflow: hidden;
  }

  &__item-info {
    padding: 15px 30px 17px;
    border-top: 1px solid #ececec;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__item-price {
    text-align: center;
    font-size: 15px;
    @include f500;
    color: #0674ec;
    padding: 7px 16px;
    background-color: #e6f1fd;
    border-radius: 16px;
    margin-right: 5px;
    outline: none;
  }

  &__item-likes {
    font-size: 15px;
    color: #6f7d8d;
    margin-right: 12px;
  }

  &__item-likes::before {
    content: "\e813";
    font-family: "Linearicons-Free";
    color: #7f4ec2;
    font-size: 15px;
    margin-right: 3px;
  }

  &__item-info {
    .rate-star {
      padding: 0;
    }
  }

  &__item-basket {
    color: #0674ec;
    font-size: 15px;
    margin-left: 3px;
  }

  &__item-basket::before {
    content: "\e82e";
    font-family: "Linearicons-Free";
    color: #0674ec;
    font-size: 15px;
    margin-left: 30px;
    margin-right: 3px;
  }

  &__button {
    margin-top: 30px;
    max-height: 55px;
    text-align: center;
  }
  &__btn {
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.1);
    border: none;
    background-color: #0674ec;
    color: #fff;
    font-size: 16px;
    padding: 18px 33px;
    border-radius: 28px;
    cursor: pointer;
    outline: none;
    outline-color: transparent;
    transition: 0.5s;
  }

  &__button button:hover {
    background-color: #fff;
    color: #0674ec;
  }
}

.shadow {
  &__link {
    color: #fff;
    font-size: 15px;
    @include f500;
    border: 1px solid #f4f4f4;
    background-color: transparent;
    padding: 14px 28px;
    border-radius: 28px;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    outline-color: transparent;
    transition: 0.3s;
    margin-left: 11px;
  }

  &__link:hover {
    background-color: #fff;
    color: $blue;
  }
}

// End magnific-popup Release
//Start Slick-Slider Followers

.followers {
  background-color: #eff1f5;
  &__top {
    .slick-btn {
      margin-top: 0;
      background-color: $blue;
    }
  }

  &__inner {
    padding-top: 120px;
  }

  &__wrapper {
    text-align: center;
  }

  &__item {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
    max-width: 361px;
    width: 100%;
    margin-bottom: 120px;
    text-align: left;
  }

  &__item-img {
    position: relative;
  }

  &__image {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    max-height: 230px;
    max-width: 361px;
  }

  &__picture {
    height: 100%;
    width: auto;
  }

  &__item-shadow {
    background-image: -webkit-linear-gradient(
      180deg,
      rgb(6, 116, 236) 0%,
      rgb(61, 94, 215) 46%,
      rgb(115, 71, 193) 100%
    );
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    overflow: hidden;
    transition: all, 0.5s;
  }

  &__item-content {
    margin-top: 18px;
  }

  &__item-name {
    margin-bottom: 16px;
    margin-left: 30px;
    padding-top: 9px;
  }

  &__item-title {
    font-size: 20px;
    color: #000;
    @include f500;
    letter-spacing: 0.2px;
  }

  &__item-author {
    margin-bottom: 32px;
    margin-left: 28px;
  }

  &__item-celler {
    outline: none;
    img {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      margin-bottom: -10px;
      display: inline-block;
    }
  }

  &__item-celler-name {
    padding-left: 5px;
    color: #000;
    font-size: 15px;
  }

  &__item-category {
    color: #7347c1;
    font-size: 15px;
    margin-left: 3px;
    padding-left: 35px;
    position: relative;
    outline: none;
  }

  &__item-img:hover &__item-shadow {
    height: 230px;
    border-radius: 4px;
  }

  &__item-category::before {
    content: "\e900";
    font-family: 'icomoon';
    font-size: 17px;
    color: #7347c1;
    position: absolute;
    left: 10px;
    top: 2px;
  }

  &__item-text {
    margin-left: 30px;
    color: #555;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 29px;
    padding-right: 25px;
    max-height: 90px;
    overflow: hidden;
  }

  &__item-info {
    padding: 15px 30px 17px;
    border-top: 1px solid #ececec;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__item-price {
    text-align: center;
    font-size: 15px;
    @include f500;
    color: #0674ec;
    padding: 7px 16px;
    background-color: #e6f1fd;
    border-radius: 16px;
    margin-right: 5px;
    outline: none;
  }

  &__item-likes {
    font-size: 15px;
    color: #6f7d8d;
    margin-right: 12px;
  }

  &__item-likes::before {
    content: "\e813";
    font-family: "Linearicons-Free";
    color: #7f4ec2;
    font-size: 15px;
    margin-right: 3px;
  }

  &__item-info {
    .rate-star {
      padding: 0;
    }
  }

  &__item-basket {
    color: #0674ec;
    font-size: 15px;
    margin-left: 3px;
  }

  &__item-basket::before {
    content: "\e82e";
    font-family: "Linearicons-Free";
    color: #0674ec;
    font-size: 15px;
    margin-left: 30px;
    margin-right: 3px;
  }
}

.slick-list {
  margin-left: -10px;
  margin-right: -10px;
}

//End Slick-Slider Followers
//Start Progress

.progress {
  background-color: #212225;
  width: 100%;
  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    min-width: 130px;
    margin-top: 185px;
    text-align: center;
  }

  &__item-quantity {
    font-size: 36px;
    margin-bottom: 15px;
    position: relative;
  }

  &__item-text {
    font-size: 18px;
    margin-bottom: 96px;
  }

  &__item-quantity--orange {
    color: #feb71d;
    padding-right: 17px;
    &::before {
      content: "\e84c";
      font-family: "Linearicons-Free";
      font-size: 48px;
      position: absolute;
      bottom: 80px;
      right: 51px;
    }
  }

  &__item-quantity--blue {
    color: #58c9e9;
    &::before {
      content: "\e80b";
      font-family: "Linearicons-Free";
      font-size: 48px;
      position: absolute;
      bottom: 80px;
      right: 40px;
    }
  }

  &__item-quantity--green {
    color: #77de51;
    padding-left: 12px;
    &::before {
      content: "\e854";
      font-family: "Linearicons-Free";
      font-size: 48px;
      position: absolute;
      bottom: 80px;
      right: 41px;
    }
  }

  &__item-quantity--red {
    color: #ff6a6d;
    padding-left: 25px;
    &::before {
      content: "\e82b";
      font-family: "Linearicons-Free";
      font-size: 48px;
      position: absolute;
      bottom: 80px;
      right: 25px;
    }
  }
}

//End Progress
//Start Advantages

.advantages {
  background-color: #fff;

  &__inner {
    margin-top: 117px;
  }

  &__top {
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
  }
  &__title {
    color: #000;
    font-size: 35px;
    margin-bottom: 23px;
  }

  &__subtitle {
    color: $blue;
  }

  &__text {
    color: #555;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 52px;
  }

  &__box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__card {
    max-width: 360px;
    min-height: 374px;
    border-radius: 4px;
    box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
    margin-bottom: 28px;
    text-align: center;
  }
  &__card-title {
    color: #000;
    font-size: 24px;
    margin-top: 156px;
    margin-bottom: 23px;
    position: relative;
  }

  &__card-text {
    color: #555;
    max-height: 120px;
    overflow: hidden;
    font-size: 16px;
    line-height: 30px;
    margin-left: 30px;
    margin-right: 30px;
  }
}

.advantages__card-title {
  &--01::before,
  &--02::before,
  &--03::before,
  &--04::before,
  &--05::before,
  &--06::before {
    content: "01";
    font-size: 48px;
    color: rgba(92, 135, 248, 0.2);
    position: absolute;
    bottom: 120px;
    left: 15px;
  }

  &--02::before {
    content: "02";
  }

  &--03::before {
    content: "03";
  }

  &--04::before {
    content: "04";
  }

  &--05::before {
    content: "05";
  }

  &--06::before {
    content: "06";
  }

  &--01::after,
  &--02::after,
  &--03::after,
  &--04::after,
  &--05::after,
  &--06::after {
    font-size: 60px;
    font-family: "Linearicons-Free";
    position: absolute;
    bottom: 70px;
    left: 150px;
    content: "\e822";
    color: #0674ec;
  }

  &--02::after {
    content: "\e803";
    color: #7f4ec2;
  }

  &--03::after {
    content: "\e80f";
    color: #77de51;
  }

  &--04::after {
    content: "\e843";
    color: #feb71d;
  }

  &--05::after {
    content: "\e849";
    color: #58c9e9;
  }

  &--06::after {
    content: "\e831";
    color: #ff6a6d;
  }
}

//End Advantages
//Start Market

.market {
  // display: flex;
  // justify-content: center;

  &__wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 95px;
  }

  &__item {
    width: 50%;
    text-align: center;
    padding-top: 100px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    outline: none;
  }

  &__item-title {
    font-size: 36px;
    margin: 42px auto 21px;
    max-width: 540px;
  }

  &__item--blue {
    .market__item-title {
      padding-right: 10px;
    }
  }

  &__item--purple {
    .market__item-title {
      padding-left: 10px;
    }
    .market__item-text {
      padding-left: 10px;
      padding-right: 0px;
    }
  }

  &__item-text {
    max-width: 600px;
    padding-left: 5px;
    padding-right: 10px;
    font-size: 16px;
    line-height: 30px;
    margin: 0 auto;
    margin-bottom: 42px;
  }

  &__item-btn {
    font-size: 16px;
    color: #0674ec;
    background-color: #fff;
    min-width: 190px;
    display: inline-block;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 30px;
    margin-bottom: 97px;
    border: 1px solid transparent;
    transition: 0.3s;
  }

  &__item-btn:hover {
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
  }
}

//End Market
//Start Feedbaack

.feedback {
  background-color: #fff;
  min-height: 840px;
  padding-top: 117px;

  &__top {
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
  }

  &__top-title {
    color: #000;
    font-size: 36px;
    margin-bottom: 23px;
    margin-top: 0;
  }

  &__top-subtitle {
    color: $blue;
  }

  &__top-text {
    color: #555;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 53px;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 78px;
  }

  &__card {
    max-width: 555px;
    min-height: 315px;
    background-color: #fff;
    box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
    border-radius: 0 4px 4px 0;
    padding-top: 50px;
    border-left: 1px solid $blue;
  }

  &__client {
    margin-left: 40px;
    display: flex;
    flex-wrap: wrap;
  }

  &__avatar {
    max-width: 80px;
    max-height: 80px;
    margin-bottom: 23px;
    border-radius: 50%;
    overflow: hidden;
  }

  &__avatar-img {
    height: 100%;
    width: auto;
  }

  &__client-info {
    max-width: 320px;
    padding-left: 18px;
  }

  &__name {
    font-size: 20px;
    color: #000;
    padding-top: 14px;
    display: block;
    position: relative;
    &::after {
      content: "\e83f";
      font-family: "Linearicons-Free";
      font-size: 60px;
      color: #e8e8e8;
      position: absolute;
      top: 3px;
      left: 315px;
    }
  }

  &__profession {
    font-size: 16px;
    color: #555;
    margin: 0;
    padding-top: 15px;
  }

  &__text {
    font-size: 16px;
    color: #555;
    line-height: 30px;
    min-width: 480px;
    max-height: 125px;
    overflow: hidden;
    padding-right: 40px;
    margin-bottom: 44px;
    margin-top: 0;
  }

  &__button {
    text-align: center;
    margin-bottom: 140px;
  }

  &__button-link {
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.1);
    border: none;
    background-color: #0674ec;
    color: #fff;
    font-size: 16px;
    padding: 18px 33px;
    border-radius: 28px;
    cursor: pointer;
    outline-color: transparent;
    transition: 0.5s;
    &:hover {
      background-color: #fff;
      color: $blue;
      border: 1px solid $blue;
    }
  }
}

//End Feedback
//Start News

.news {
  background-color: #eff1f5;
  padding-top: 116px;

  &__top {
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
  }

  &__top-title {
      color: #000;
      font-size: 36px;
      margin-bottom: 23px;
      margin-top: 0;
  }  

  &__top-subtitle {
      color: $blue;
    }
 
  &__top-text {
    color: #555;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 53px;
  }
  
  &__wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    background-color: #fff;
    box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
    border-radius: 4px;
    max-width: 361px;
    width: 100%;
    margin-bottom: 115px;
  }

  &__item-img {
      position: relative;
  }

  &__item-image {
    max-height: 230px;
    border-radius: 4px 4px 0 0;
    display: block;
    outline: none;
    overflow: hidden;
  }

  &__item-picture {
    height: 100%;
    width: auto;
  }

  &__item-content {
    margin-top: 25px;  }
  
  &__item-name {
    margin-left: 30px;
    max-width: 330px;
    max-height: 160px;
    overflow: hidden;
  }
  
  &__item-title {
    font-size: 22px;
    line-height: 28px;
    color: #000;
    @include f500;
   }
 
   &__item-text {
    font-size: 16px;
    color: #555;
    line-height: 30px;
    margin-bottom: 23px;
    margin-top: 21px;
  }

  &__item-info {
    border-top: 1px solid #ececec;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 60px;
    padding-left: 30px;
    padding-right: 30px;
  }

  &__item-data {
    font-size: 15px;
    color: #999;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 23px;
    padding-right: 57px;
    position: relative;
    &::before {
      content: "\e864";
      font-family: "Linearicons-Free";
      font-size: 15px;
      color: $blue;
      position: absolute;
      top: 24px;
      left: 0px;
    }

    &::after {
      content: "";
      background-color: #ececec;
      width: 1px;
      height: 40px;
      position: absolute;
      top: 12px;
      right: 10px;
    }
  }

  &__item-likes {
    font-size: 15px;
    color: #7e7e7e;
    margin-right: 16px;
    padding-left: 25px;
    position: relative;
    &::before {
      content: "\e83f";
      font-family: "Linearicons-Free";
      font-size: 15px;
      color: #7e7e7e;
      position: absolute;
      top: 0;
      left: 5px;
    }
  }

  &__item-view {
    font-size: 15px;
    color: #7e7e7e;
    padding-left: 20px;
    position: relative;
    &:before {
      content: "\e81b";
      font-family: "Linearicons-Free";
      font-size: 15px;
      color: #7e7e7e;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}

//End News
// Start Protect

.protect {
  background-color: #fff;
  width: 100%;
  &__wrapper {
    display: flex;
    justify-content: space-around;
  }

  &__item {
    width: 50%;
    padding-top: 62px;
    
  }

  &__item:first-child {
    border-right: 1px solid #e8eaf3;
  }

  &__image {
    margin-left: 188px;
    margin-bottom: 30px;
    max-width: 155px;
    max-height: 120px;
    overflow: hidden;
    transition: 0.3s;
  }

  &__picture {
    height: 100%;
    width: auto;
  }

  &__support {
    .protect__picture {
      padding-left: 12px;
    }
  }
  
  &__image-link {
      outline: none;
    }
  
  &__image:hover {
    opacity: 0.5;
  }


  &__title {
    font-size: 24px;
    color: #000;
    margin-bottom: 62px;
    text-align: center;
    margin-right: 41px;
    &--purple {
      margin-left: 24px;
      .protect__subtitle {
        color: #7347c1;
      } 
    }
  }

  &__subtitle {
      color: $blue;
    }
  }

//End Protect
//Start Banner
.banner {
  background-color: #000;
  width: 100%;
  background-image: -webkit-linear-gradient(180deg, rgb(13, 62, 242) 0%, rgb(64, 48, 201) 46%, rgb(114, 33, 160) 100%);
  opacity: 0.9;

  &__box {
    max-width: 600px;
    margin: 0 auto;
  }

  &__title {
    text-align: center;
    padding-top: 107px;
    font-size: 36px;
    margin-bottom: 24px;
    margin-top: 0;
  }

  &__text {
    color: #e7e7e7;
    font-size: 18px;
    text-align: center;
    margin-bottom: 71px;
  }
  &__btn {
    text-align: center;
    padding-bottom: 129px;
  }
  &__link {
    text-align: center;
    color: $blue;
    font-size: 16px;
    padding: 17px 43px;
    background-color: #fff;
    border-radius: 30px;
    align-items: center;
    margin: 0 auto;
    border: none;
    cursor: pointer;
    outline-color: transparent;
    transition: 0.5s;
    &:hover {
      background-color: transparent;
      color: #fff;
      border: 1px solid #fff;
    }
  }
}

//End Banner
//Start Footer

.footer {
  background-color: #262b30;
  width: 100%;
  &__inner {
    display: flex;
    justify-content: space-between;
    padding: 115px 0 120px;
  }

  &__column {
    max-width: 370px;
    color: #ababab;
  }

  &__column--info {
    max-width: 270px;
  }

  &__column-title {
    font-size: 18px;
    text-align: left;
    margin-bottom: 23px;
    color: #fff;
  }

  &__logo-img {
    max-width: 163px;
    max-height: 40px;
  }

  &__column-text {
    font-size: 15px;
    margin-bottom: 18px;
    line-height: 28px;
  }

  &__info {
    font-size: 15px;
    line-height: 28px;
    padding-left: 30px;
 
  }

  &__info-phone,
  &__info-email {
    color: #ababab;
    display: inline-block;
    margin-bottom: 5px;
    position: relative;
  }


  &__info-phone::before,
  &__info-email::before,
  &__info-address::before {
    content: '\e830';
    font-size: 16px;
    font-family: 'Linearicons-Free';
    color: #ffffff;
    left: -29px;
    top: 0;
    position: absolute;
  }

  &__info-email::before {
    content: '\e818';
  } 

  &__info-address::before {
    content: '\e833';
    top: 16px;
  } 

  &__info-address {
    margin: 0;
    position: relative;
  }

  &__column--menu {
    max-width: 170px;
    width: 100%;
    margin-left: 58px;
    margin-top: 17px;
    letter-spacing: .5px;
  }

  &__column-list,
  &__column-point,
  &__social,
  &__social-link {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__column-list {
    padding-top: 3px;
  }

  &__column-link {
    color: #ababab;
    line-height: 32px;
  }

  &__column--social {
    padding-left: 10px;
    margin-top: 15px;
    .footer__column-title {
      margin-bottom: 33px;
      letter-spacing: .7px; 
    }
  }

  &__form {
    margin-top: 28px;
    position: relative;
    .form__search {
      color: #ababab;
      font-size: 15px;
      height: 49px;
      border-radius: 25px;
      padding-right: 120px;
      &::placeholder {
        color: #ababab;
        font-size: 15px;
      }

      &:focus {
        background: #e2e2e4;
      }
    }

    .form__btn {
      right: -1px;
      border-radius: 25px;
      font-size: 15px;
      padding: 16px 31px;
    }
  }

  &__social {
    margin-top: 50px;
    display: flex;
    margin-right: 20px;
    position: relative;
  }

  &__social-link {
    .link-facebook,
    .link-twitter,
    .link-google, 
    .link-pinterest,
    .link-linkedin,
    .link-dribbble {
        border-radius: 50%;
        background-color: #395799;
        position: absolute;
        width: 42px;
        height: 42px;
        top: 0px;
        &::before {
          content: '\f09a';
          font-size: 16px;
          font-family: 'icomoon';
          color: #fff;
          position: absolute;
          top: 12px;
          right: 14px;
        }
        &:hover {
          opacity: 0.6;
        }
      }

      .link-facebook {
        &::before {
          right: 17px;
        }
      }

      .link-twitter {
        background-color: #19b2f5;
        left: 55px;
        &::before {
          content: '\f099';
        }
      }

      .link-google {
        background-color: #f05b44;
        left: 110px;
        &::before {
          content: '\f1a0';
        }
      }
      
      .link-pinterest {
        background-color: #9c0c1c;
        left: 165px;
        &::before {
          content: '\f0d2';
        }
      }

      .link-linkedin {
        background-color: #0da6be;
        left: 220px;
        &::before {
          content: '\f0e1';
        }
      }
      
      .link-dribbble {
        background-color: #ea4c89;
        left: 275px;
        &::before {
          content: '\f17d';
        }
      }
    }
  
  &__copy {
    background-color: #192027;
    text-align: center;
  }

  &__copy-text {
    color: #999;
    font-size: 15px;
    line-height: 27px;
    padding: 33px 0;
  }

  &__copy-autors {
    color: #fff;
  }
}

//End Footer










